body {
    color: #333;
    background-color: rgb(239, 222, 211);
    margin: 123px;
}

@media screen and (max-width:768px) {
    body {
        margin: 0;
    }
}

/* === Container === */
.container {
    display: flex;
    margin: 0 auto;
    height: 1630px;
    width: 620px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 40px;
}

.img {
    height: 300px;
    width: 620px;
    border-radius: 20px;
    margin-bottom: 0;
}

.TitleRecipe {
    font-size: 38px;
    font-family: 'Young Serif', serif;
    font-weight: 500;
    letter-spacing: 1.30px;
    margin-bottom: 15px;
}

.description {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #666;
    letter-spacing: 0.3px;
    font-weight: 500;
    margin-top: 15px;
}

/* === preparation time === */
.PrepatTime {
    font-family: 'Outfit', sans-serif;
    margin-top: 20px;
    line-height: 30px;
    color: #666;
    background-color: #fffafd;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}

.headingPrepat {
    color: #965b74;
    font-family: 'inter', sans-serif;
    font-size: 22px;
    margin-top: 0;
}

/* === Ingredients === */
.Ingredients {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #666;
    font-weight: 400;
}

.header {
    font-size: 26px;
    color: rgb(152, 80, 77);
    font-family: 'Young serif', serif;
    letter-spacing: 1px;
    margin-top: 15px;
}

/* === Line === */
.line {
    border: 0.01px solid #f5ede4;
}

/* === Instruction === */
.Instructions {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #666;
    font-weight: 400;
}

/* ==== Nutrition table === */
table {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 45px;
    color: #666;
    letter-spacing: 0.3px;
    font-weight: 400;
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

tr {
    border-bottom: 0.01px solid #f5ede4;
    margin-bottom: 0px;

}

tr:hover {
    background-color: #b5dc66;
}

.nutr {
    padding-left: 50px;
}

.color {
    color: rgb(152, 80, 77);
    margin-right: 100px;
    font-weight: 600;
}

/* === Signature === */
.attribution {
    display: flex;
    justify-content: center;
}